services:
  app:
    image: vaultwarden/server:latest-alpine
    restart: unless-stopped
    environment:
      - ADMIN_TOKEN
      - SIGNUPS_ALLOWED
      - LOG_LEVEL
      - PUSH_ENABLED
      - PUSH_INSTALLATION_ID
      - PUSH_INSTALLATION_KEY
      - DATABASE_URL=postgresql://vaultwarden:vaultwarden@db/vaultwarden
      - EXPERIMENTAL_CLIENT_FEATURE_FLAGS
      - CADDY_DOMAIN=${CADDY_DOMAIN}
      - CADDY_TYPE=${CADDY_TYPE:-external}
      - CADDY_PORT=${CADDY_PORT:-80}
    volumes:
      - app_data:/data
    networks:
      default:
      caddy:
    depends_on:
      - db

  db:
    image: pgautoupgrade/pgautoupgrade:latest
    restart: unless-stopped
    environment:
      - POSTGRES_USER=vaultwarden
      - POSTGRES_PASSWORD=vaultwarden
      - POSTGRES_DB=vaultwarden
    volumes:
      - db_data:/var/lib/postgresql
    networks:
      default:
    labels:
      ofelia.restart: "true"
      ofelia.enabled: "true"
      ofelia.job-exec.vaultwardendbbackup.schedule: "0 0 1 * * *"
      ofelia.job-exec.vaultwardendbbackup.command: "sh -c 'pg_dumpall -U vaultwarden -f /var/lib/postgresql/backup.sql'"

volumes:
  app_data:
  db_data:

networks:
  caddy:
